.center{
    align-items: center;
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.hey ul div{
    margin:0 !important ;
}

.spaced{
    margin-left: .3em;
}

.hey{
    height: 100vh;
    max-height: 75vw;
    min-height: 50vh;
}

.hey li{
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s ease-in;
    color: #CEFDFF;
    font-size: 8vw;
    font-family: 'Roboto Slab', serif;
}

.italicezed{
    font-style: italic;
    font-weight: 600;
}

.show{
    opacity: 1 !important;
    transform: translateY(0px) !important;
}

@media (min-width: 1400px){
    .hey li{
        font-size: 7em;
    }
    .hey{
        max-height: 74.9vh;
    }
}