body{
    background-color: #292426;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hey{
    height: 60vh;
    color: #CEFDFF;
    font-size: 6em;
    padding: 60px 10% 0;
}