html {
    scroll-behavior: smooth;
}

body{
    background-color: #292426;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hey{
    color: #CEFDFF;
    font-size: 6em;
    padding: 250px 25px;
}