footer{
    padding: 15px;
    color: #769394;
    background-color: rgb(11, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .divide{
    border-bottom: 1px solid #769394;
    padding-bottom: 3px;
}

.right-footer{
    border-left: 1px solid #769394;
    margin-left: 10px;
    padding-left: 10px;
}

#copy-email{
    cursor: pointer;
}