footer{
    padding: 15px;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .divide{
    border-bottom: 1px solid rgb(100, 100, 100);
    padding-bottom: 3px;
}

.right-footer{
    border-left: 1px solid rgb(100, 100, 100);
    margin-left: 10px;
    padding-left: 10px;
}

#copy-email{
    cursor: pointer;
}