.email-form{
    width: 100%;
    max-width: 700px;
    text-align: right;
}

input[type=submit]{
    padding: 13px 50px;
    background-color: #CEFDFF;
    color: #0C0D10;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
}

input[type=submit]:hover{
    transition: 350ms;
    background-color: #bcfdff;
}

input[type=submit]:active{
    background-color: #a2fbfc;
}

.marg-r-15{
    margin-right: 15px !important;
}

.mail-input{
    width: 100%;
    margin: 15px 0;
}

.text-field{
    background-color: white;
}