.email-form{
    width: 100%;
    max-width: 700px;
    text-align: right;
}

/* .email-form input[type=text], .email-form input[type=email], .email-form textarea{
    padding: 15px;
    border: none;
    border-bottom: 3px solid #8f9cca;
    font-size: 1em;
} */

/* textarea{
    resize: none;
    margin-bottom: 10px;
}

textarea:focus, input:focus{
    outline: none;
} */

input[type=submit]{
    padding: 13px 50px;
    background-color: #8f9cca;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
}

input[type=submit]:hover{
    transition: 350ms;
    background-color: #a5afd5;
}

input[type=submit]:active{
    background-color: #808fc4;
}

.marg-r-15{
    margin-right: 15px !important;
}

.flex{
    display: flex;
    width: 100%;
    margin: 15px 0;
}

.text-field{
    background-color: white;
}