.projects{
    text-align: left;
    width: 100%;
    max-width: 1300px;
    font-size: 1.2em;
    padding: 0 25px;
}

.project{
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
}

.project h4{
    margin-top: 10px;
}

.project a{
    color: #004346;
}

.project a:hover{
    text-decoration: none;
}

.project video, .project img{
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.project-left video, .project-left img{
    margin-right: 10px;
}

.project-right video, .project-right img{
    margin-left: 10px;
}

.project-right{
    text-align: right;
}

#fullscreen-video{
    max-height: 60vh;
    width: 100vw;
    cursor: default;
}

.fullscreen{
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 9999;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}

.right-small{
    display: none;
}

@media (max-width: 700px){
    .project{
        display: block;
    }
    .projects{
        text-align: center;
        width: 100%;
        max-width: 800px;
    }
    .project video, .project img{
        width: 100%;
        max-width: 600px;
    }
    .project-right{
        text-align: center;
    }
    .right-large{
        display: none;
    }
    .right-small{
        display: block;
    }
}