.about{
    display: flex;
    justify-content: center;
    max-width: 900px;
    padding: 0 25px;
}

.about p{
    font-size: 1.2em;
}

.about-me{
    width: 300px;
    text-align: "center";
    padding: 0 25px;
}

.about-me h1{
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.about1{
    height: 100%;
    margin-right: 25px;
    display: flex;
    align-items: start;
}

.about1 img{
    width: 300px;
    border-radius: 50%;
}

.about2{
    text-align: left;
}

.about2 h1{
    color: #43707d;
    margin-bottom: 8px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

@media (max-width: 700px){
    .about{
        display: block;
        padding: 0 25px;
    }
    .about1{
        margin-right: 0;
    }
    .about1 img{
        margin: 0 auto;
    }
    .about-me{
        width: 100%;
        padding: 0;
    }
}